






<div ng-controller="BlogPostsCtrl">
	
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span> 
	      </button>
	      <a class="navbar-brand" style="color: white;">Hello Backpackers and Explorers!</a>
	      &nbsp&nbsp&nbsp&nbsp
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav">
        	<li><a>Home</a></li>
        	<li><a>News</a></li> 
        	<li><a>Community</a></li> 
      	  </ul>
	      <ul class="nav navbar-nav navbar-right">
	        <li><a><img class="img-circle" src="images/MyPhoto1.jpg" height="25px" width="25px">&nbsp&nbsp {{currentUser}}</a></li>
	        <li class="dropdown">
		        <a class="btn dropdown-toggle" data-toggle="dropdown"><i class="fa fw fa-user"></i>&nbsp&nbsp Account
		        <span class="caret"></span></a>
		        <ul class="dropdown-menu">
		          <li><a class="btn" ng-click="update()">Update</a></li>
		          <li><a class="btn" ng-click="signout()">Sign Out</a></li>
		        </ul>
		    </li>
	      </ul>
	    </div>
	  </div>
	</nav>

	<div class="container-fluid">
		<img src="images/tourist.jpg" style="position: relative; left: -15px; top: -20px; width: 110%; height: 120%;">
	</div>


    <div class="container-fluid" style="background-color: #eee; position: relative; top: -20px;"><br>
    <button class="btn btn-primary pull-right" ng-click="addPosts()">Add Posts</button>
    <button class="btn btn-primary pull-left" ng-click="myPosts()">My Posts</button>
    	<h1 style="color: #888; font-weight: bold; text-align: center;">Blog Posts</h1><br>
    <div class="container" ng-repeat="post in posts">
    	<div class="row" style="border: 2px solid #888; color: black; padding: 30px; margin-bottom: 50px; background-color: white; border-radius: 20px;">
    		<div class="col-md-3">
    			<img ng-src="{{post.url}}" class="thumbnail" height="250px" width="250px">
    		</div>
    		<div class="col-md-9">
    			<span style="font-size: 35px;">{{post.title}}</span>
    			<span class="pull-right"><h4> Uploaded At: &nbsp {{ post.time | date:'HH:mm:ss'}} &nbsp&nbsp {{ post.time | date:'dd-MM-yyyy'}}</h4></span>
    			<p>{{post.body}}</p>
    			<button class="btn btn-primary" ng-click="likePost(post._id)"><i class="fa fa-fw fa-thumbs-up" style="color: white;"></i> Like</button>&nbsp {{post.likes}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    			<button class="btn btn-primary" ng-click="dislikePost(post._id)"><i class="fa fa-fw fa-thumbs-down" style="color: white;"></i> Dislike</button>&nbsp {{post.dislikes}}
    			<h4 class="pull-right">Author: {{post.author}}</h4>
    		</div>
    	</div>
    </div>
    <br><br><br>
    </div>

    <div style="background-image: url(http://bgfons.com/upload/ornaments_texture1136.jpg); position: relative; top: -20px;">
        <div class="container" style="padding: 20px;">
        <div class="row">
            <div class="col-md-6 text-center" style="font-family: cursive; font-size: 20px;">
                <p style="color: white;">Made with lots of </p>
                <button class="btn" style="border-radius: 50%; color: red;"><i class="fa fa-fw fa-heart"></i></button>
            </div>
            <div class="col-md-6 text-center">
                <p style="font-family: Arial; font-size: 20px; color: white;">Around The Web</p>
                <button class="btn" style="border-radius: 50%;"><i class="fa fa-fw fa-facebook"></i></button>
                <button class="btn" style="border-radius: 50%;"><i class="fa fa-fw fa-twitter"></i></button>
                <button class="btn" style="border-radius: 50%;"><i class="fa fa-fw fa-linkedin"></i></button>
                <button class="btn" style="border-radius: 50%;"><i class="fa fa-fw fa-instagram"></i></button>
        	</div><br><br><br><br>
        </div>
        <p class="text-center"; style="color: white;">Srikar Varma <i class="fa fa-fw fa-copyright"></i> 2017. All Rights Reserved.</p>
        </div>
    </div>

</div>






